<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html>
<head>
    <title>IP.S - <%= ip %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<% include ../partial/header.ejs %>
<div class="col-md-6">
    <div class="row">
        <h1>MAP</h1>
    </div>
    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div class="panel-heading clickable" role="tab" id="headingPerson">
                    <span class="glyphicon glyphicon-collapse-down"></span>
                    Person:
                    <a href="<%= person.link.href %>"
                       target="_blank"><%= person.attributes.attribute[0].value %></a>
                </div>
                <div class="panel-body">
                    <% if (person.attributes) { %>
                    <table class="table table-hover">
                        <% for(var i = 0; i < person.attributes.attribute.length; i++) { %>
                        <tr>
                            <td>
                                <%= person.attributes.attribute[i].name.toUpperCase() %>
                            </td>
                            <td>
                                <% if (person.attributes.attribute[i].link != null) { %>
                                <a href="<%= person.attributes.attribute[i].link.href %>">
                                    <%= person.attributes.attribute[i].value %>
                                </a>
                                <% } else { %>
                                <%= person.attributes.attribute[i].value %>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                    </table>
                    <% } else { %>
                    Hmmm, looks like something happened.
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div class="panel-heading clickable" role="tab" id="headingOrganization">
                    <span class="glyphicon glyphicon-collapse-down"></span> Organization:
                    <a href="<%= organization.link.href %>"
                       target="_blank"><%= organization.link.href %></a>
                </div>
                <div class="panel-body">
                    <% if (organization.attributes) { %>
                    <table class="table table-hover">
                        <% for(var i = 0; i < organization.attributes.attribute.length; i++) { %>
                        <% var organizationObj = organization.attributes.attribute[i]; %>
                        <% if (organizationObj) { %>
                        <tr>
                            <td>
                                <%= organizationObj.name.toUpperCase() %>
                            </td>
                            <td>
                                <% if (organizationObj.link != null) { %>
                                <a href="<%= organizationObj.link.href %>">
                                    <%= organizationObj.value %>
                                </a>
                                <% } else { %>
                                <%= organizationObj.value %>
                                <% }} %>
                            </td>
                        </tr>
                        <% } %>
                    </table>
                    <% } else { %>
                    Hmmm, looks like something happened.
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div class="panel-heading clickable" role="tab">
                    <span class="glyphicon glyphicon-collapse-down"></span> Inetnum:
                    <a href="<%= inetnum.link.href %>" target="_blank"><%= inetnum.link.href %></a>
                </div>
                <div class="panel-body">
                    <% if (inetnum.attributes.attribute) { %>
                    <table class="table table-hover">
                        <% for(var i = 0; i < inetnum.attributes.attribute.length; i++) { %>
                        <% var inetnumObj = inetnum.attributes.attribute[i]; %>
                        <% if (inetnumObj) { %>
                        <tr>
                            <td>
                                <%= inetnumObj.name.toUpperCase() %>
                            </td>
                            <td>
                                <% if (inetnumObj.link != null) { %>
                                <a href="<%= inetnumObj.link.href %>">
                                    <%= inetnumObj.value %>
                                </a>
                                <% } else { %>
                                <%= inetnumObj.value %>
                                <% } %>
                            </td>
                        </tr>
                        <% }} %>
                    </table>
                    <% } else { %>
                    Hmmm, looks like something happened.
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div class="panel-heading clickable" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-collapse-down"></span> Route:
                        <% if (route) { %>
                        <a href="<%= route.link.href %>" target="_blank"><%= route.link.href %></a>
                        <% } else { %>
                        <a href="#" target="_blank">Undefined</a>
                        <% } %>
                    </h4>
                </div>
                <div class="panel-body">
                    <% if (route && route.attributes) { %>
                    <table class="table table-hover">
                        <% for(var i = 0; i < route.attributes.attribute.length; i++) { %>
                        <% var attribute = route.attributes.attribute[i]; %>
                        <% if (attribute) { %>
                        <tr>
                            <td>
                                <%= attribute.name.toUpperCase() %>
                            </td>
                            <td>
                                <% if (attribute.link != null) { %>
                                <a href="<%= attribute.link.href %>">
                                    <%= attribute.value %>
                                </a>
                                <% } else { %>
                                <%= attribute.value %>
                                <% } %>
                            </td>
                        </tr>
                        <% }} %>
                    </table>
                    <% } else { %>
                    Hmmm, looks like something happened.
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-6">
    <% if (banner !== null && banner) { %>
    <% var ports = banner.ports.sort(function (a, b) {
        return parseInt(a) - parseInt(b);
    }); %>
    <div class="row">
        <ul>
            <% for(var i = 0; i < ports.length; i++) { %>
            <%
                var colorForPort = '#333';
                if (banner[ports[i] + ''].state === 'open')
                    colorForPort = '#009688';
                else if (banner[ports[i] + ''].state === 'filtered')
                    colorForPort = '#FF9800';
                else
                    colorForPort = '#F44336';
            %>
            <a href="#<%= ports[i] %>">
                <li class="port-box text-center grow" style="background-color: <%= colorForPort %>">
                    <%= ports[i] %> </br>
                    <%= banner[ports[i]].state %>
                </li>
            </a>
            <% } %>
        </ul>
    </div>
    <div class="row">
        <% for(i = 0; i < ports.length; i++) {
            var port = ports[i]; %>
        <div class="row">
            <div class="row">
                <%= port %>
            </div>
            <div class="row">
                <%= banner[port].product %>
            </div>
            <div class="row">
                <%= banner[port].name %>
            </div>
            <div class="row">
                <%= JSON.stringify(banner[ports[i]]) %>
            </div>
            <hr>
        </div>
        <% } %>
    </div>
    <% } else { %>
    THIS HOST WAS NOT RESEARCHED
    <% } %>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/general/panel.js"></script>
</body>
</html>