<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html>
<head>
    <title><%= ip %></title>
    <link rel="icon" href="/favicon.png">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/leaflet.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <style>
        .ports-line {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
        }

        .port-block-box {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            border: whitesmoke solid 0.1em;
            width: 7em;
            color: whitesmoke;
        }

        .port-block-box .row {
            text-align: center;
            width: 100%;
        }

        .port-color {
            background-color: #009688;
        }

        .port-color a {
            color: whitesmoke;
        }

        .product-color {
            background-color: #424242;
        }

        #ipmap {
            height: 40vh;
            width: 100%;
        }

    </style>
</head>
<body>
<% include ../partial/header.ejs %>
<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-11 col-md-11">
            <h3>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <a href="//<%= ip %>" target="_blank"><%= ip %></a>
            </h3>
            <hr>
            <% if (banner !== null && banner) { %>
            <% var ports = banner.ports.sort(function (a, b) {
                return parseInt(a) - parseInt(b);
            }); %>
            <ul class="ports-line">
                <% for(var i = 0; i < ports.length; i++) { %>
                <%
                    var colorForPort = '#333';
                    if (banner[ports[i] + ''].state === 'open')
                        colorForPort = '#009688';
                    else if (banner[ports[i] + ''].state === 'filtered')
                        colorForPort = '#FF9800';
                    else
                        colorForPort = '#F44336';
                %>
                <a href="#<%= ports[i] %>">
                    <li class="port-box text-center grow" style="background-color: <%= colorForPort %>">
                        <%= ports[i] %> </br>
                        <%= banner[ports[i]].state %>
                    </li>
                </a>
                <% } %>
            </ul>
            <% } %>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div id="ipmap"></div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-11 col-md-11">
            <% if (banner !== null && banner) { %>
            <% var ports = banner.ports.sort(function (a, b) {
                return parseInt(a) - parseInt(b);
            }); %>
            <div class="row">
                <% for(i = 0; i < ports.length; i++) {
                    var port = ports[i]
                            , product = banner[ports[i]].product
                            , name = banner[ports[i]].name
                            , script = banner[ports[i]].script
                            , cpe = banner[ports[i]].cpe
                            , version = banner[ports[i]].version; %>
                <div class="row">
                    <div class="col-xs-3 col-md-3">
                        <div class="row port-block-box" id="<%= port %>">
                            <div class="row port-color">
                                <%= port %>
                                <a href="http://<%= ip %>:<%= port %>" target="_blank"><span
                                            class="glyphicon glyphicon-expand"
                                            aria-hidden="true"></span></a>
                            </div>
                            <div class="row product-color">
                                <%= product %>
                            </div>
                            <div class="row product-color" style="border-top: whitesmoke solid 1px;">
                                <%= name %>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-md-9">
                        <% if (product) { %>
                        <div class="row">
                            <b>Product:</b> <%= product %>
                        </div>
                        <% } %>
                        <% if (name) { %>
                        <div class="row">
                            <b>Name:</b> <%= name %>
                        </div>
                        <% } %>
                        <% if (script) { %>
                        <div class="row">
                            <b> Title:</b> <%= decodeURIComponent(escape(script["http-title"].replace("\\n", "\n"))) %>
                        </div>
                        <div class="row">
                            <b>Header:</b>
                            <div class="row"><%= script["http-headers"].replace("\\n", "\n") %></div>
                        </div>
                        <% } %>
                        <% if (cpe) { %>
                        <div class="row">
                            <b> CPE:</b> <%= cpe %>
                        </div>
                        <% } %>
                        <% if (version) { %>
                        <div class="row">
                            <b>Version:</b> <%= version %>
                        </div>
                        <% } %>
                    </div>
                </div>
                <hr>

                <% } %>
            </div>
            <% } else { %>
            THIS HOST WAS NOT RESEARCHED
            <% } %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <div class="panel-heading clickable" role="tab" id="headingPerson">
                        <span class="glyphicon glyphicon-collapse-down"></span>
                        Person:
                        <a href="<%= person.link.href %>"
                           target="_blank"><%= person.attributes.attribute[0].value %></a>
                    </div>
                    <div class="panel-body">
                        <% if (person.attributes) { %>
                        <table class="table table-hover">
                            <% for(var i = 0; i < person.attributes.attribute.length; i++) { %>
                            <tr>
                                <td>
                                    <%= person.attributes.attribute[i].name.toUpperCase() %>
                                </td>
                                <td>
                                    <% if (person.attributes.attribute[i].link != null) { %>
                                    <a href="<%= person.attributes.attribute[i].link.href %>">
                                        <%= person.attributes.attribute[i].value %>
                                    </a>
                                    <% } else { %>
                                    <%= person.attributes.attribute[i].value %>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                        <% } else { %>
                        Hmmm, looks like something happened.
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <div class="panel-heading clickable" role="tab" id="headingOrganization">
                        <span class="glyphicon glyphicon-collapse-down"></span> Organization:
                        <a href="<%= organization.link.href %>"
                           target="_blank"><%= organization.link.href %></a>
                    </div>
                    <div class="panel-body">
                        <% if (organization.attributes) { %>
                        <table class="table table-hover">
                            <% for(var i = 0; i < organization.attributes.attribute.length; i++) { %>
                            <% var organizationObj = organization.attributes.attribute[i]; %>
                            <% if (organizationObj) { %>
                            <tr>
                                <td>
                                    <%= organizationObj.name.toUpperCase() %>
                                </td>
                                <td>
                                    <% if (organizationObj.link != null) { %>
                                    <a href="<%= organizationObj.link.href %>">
                                        <%= organizationObj.value %>
                                    </a>
                                    <% } else { %>
                                    <%= organizationObj.value %>
                                    <% }} %>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                        <% } else { %>
                        Hmmm, looks like something happened.
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <div class="panel-heading clickable" role="tab">
                        <span class="glyphicon glyphicon-collapse-down"></span> Inetnum:
                        <a href="<%= inetnum.link.href %>" target="_blank"><%= inetnum.link.href %></a>
                    </div>
                    <div class="panel-body">
                        <% if (inetnum.attributes.attribute) { %>
                        <table class="table table-hover">
                            <% for(var i = 0; i < inetnum.attributes.attribute.length; i++) { %>
                            <% var inetnumObj = inetnum.attributes.attribute[i]; %>
                            <% if (inetnumObj) { %>
                            <tr>
                                <td>
                                    <%= inetnumObj.name.toUpperCase() %>
                                </td>
                                <td>
                                    <% if (inetnumObj.link != null) { %>
                                    <a href="<%= inetnumObj.link.href %>">
                                        <%= inetnumObj.value %>
                                    </a>
                                    <% } else { %>
                                    <%= inetnumObj.value %>
                                    <% } %>
                                </td>
                            </tr>
                            <% }} %>
                        </table>
                        <% } else { %>
                        Hmmm, looks like something happened.
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <div class="panel-heading clickable" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-collapse-down"></span> Route:
                            <% if (route) { %>
                            <a href="<%= route.link.href %>" target="_blank"><%= route.link.href %></a>
                            <% } else { %>
                            <a href="#" target="_blank">Undefined</a>
                            <% } %>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <% if (route && route.attributes) { %>
                        <table class="table table-hover">
                            <% for(var i = 0; i < route.attributes.attribute.length; i++) { %>
                            <% var attribute = route.attributes.attribute[i]; %>
                            <% if (attribute) { %>
                            <tr>
                                <td>
                                    <%= attribute.name.toUpperCase() %>
                                </td>
                                <td>
                                    <% if (attribute.link != null) { %>
                                    <a href="<%= attribute.link.href %>">
                                        <%= attribute.value %>
                                    </a>
                                    <% } else { %>
                                    <%= attribute.value %>
                                    <% } %>
                                </td>
                            </tr>
                            <% }} %>
                        </table>
                        <% } else { %>
                        Hmmm, looks like something happened.
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/general/panel.js"></script>
<script src="/js/visual/leaflet.js"></script>
<script src="/js/visual/leaflet.awesome-markers.js"></script>

<script>
    <%
    var lat = address.latitude;
    var long = address.longitude;
    %>
    var mymap = L.map('ipmap').setView([<%= lat %>, <%= long %>], 13);

    var marker = L.marker([<%= lat %>, <%= long %>]).addTo(mymap);
    marker.bindPopup("<b><%= ip %></b>").openPopup();
    L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}?' +
            'access_token=pk.eyJ1Ijoia3V0c3lrIiwiYSI6ImNpeXN3ZGttdTAwMTUyd281M3gxYndyZ3UifQ.qP7Ueb5omzA3zdf7xWUhpA')
            .addTo(mymap);

</script>
</body>
</html>