<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html>
<head>
    <title> <%= ip %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<% include ../partial/header.ejs %>
<div class="col-md-6">
    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div class="panel-heading clickable" role="tab" id="headingOne">
                    <h4 class="panel-title">
                            <span role="button" href="#person">
                                <span class="glyphicon glyphicon-collapse-down"></span>
                                Person:
                                <a href="<%= person.link.href %>"
                                   target="_blank"><%= person.attributes.attribute[0].value %></a>
                            </span>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" id="person">
                    <div class="panel-body">
                        <% if (person.attributes.attribute) { %>
                        <table class="table table-hover">
                            <% for(var i = 0; i < person.attributes.attribute.length; i++) { %>
                            <tr>
                                <td>
                                    <%= person.attributes.attribute[i].name.toUpperCase() %>
                                </td>
                                <td>
                                    <% if (person.attributes.attribute[i].link != null) { %>
                                    <a href="<%= person.attributes.attribute[i].link.href %>">
                                        <%= person.attributes.attribute[i].value %>
                                    </a>
                                    <% } else { %>
                                    <%= person.attributes.attribute[i].value %>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                        <% } else { %>
                        Hmmm, looks like something happened.
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div class="panel-heading clickable" role="tab" id="headingOne">
                    <h4 class="panel-title">
                            <span role="button" href="#organization">
                                <span class="glyphicon glyphicon-collapse-down"></span> Organization:
                                <a href="<%= organization.link.href %>"
                                   target="_blank"><%= organization.link.href %></a>
                            </span>
                    </h4>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" id="organization">
                    <div class="panel-body">
                        <% if (organization.attributes.attribute) { %>
                        <table class="table table-hover">
                            <% for(var i = 0; i < organization.length; i++) { %>
                            <% var organizationObj = organization.attributes.attribute[i]; %>
                            <% if (organizationObj) { %>
                            <tr>
                                <td>
                                    <%= organizationObj.toUpperCase() %>
                                </td>
                                <td>
                                    <% if (organizationObj.link != null) { %>
                                    <a href="<%= organizationObj.link.href %>">
                                        <%= organizationObj.value %>
                                    </a>
                                    <% } else { %>
                                    <%= organizationObj.value %>
                                    <% }} %>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                        <% } else { %>
                        Hmmm, looks like something happened.
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div class="panel-heading clickable" role="tab" id="headingOne">
                    <h4 class="panel-title">
                            <span role="button" href="#inetnum">
                                <span class="glyphicon glyphicon-collapse-down"></span> Inetnum:
                                <a href="<%= inetnum.link.href %>" target="_blank"><%= inetnum.link.href %></a>
                            </span>
                    </h4>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" id="inetnum">
                    <div class="panel-body">
                        <% if (inetnum.attributes.attribute) { %>
                        <table class="table table-hover">
                            <% for(var i = 0; i < inetnum.attributes.attribute.length; i++) { %>
                            <% var inetnumObj = inetnum.attributes.attribute[i]; %>
                            <% if (inetnumObj) { %>
                            <tr>
                                <td>
                                    <%= inetnumObj.name.toUpperCase() %>
                                </td>
                                <td>
                                    <% if (inetnumObj.link != null) { %>
                                    <a href="<%= inetnumObj.link.href %>">
                                        <%= inetnumObj.value %>
                                    </a>
                                    <% } else { %>
                                    <%= inetnumObj.value %>
                                    <% } %>
                                </td>
                            </tr>
                            <% }} %>
                        </table>
                        <% } else { %>
                        Hmmm, looks like something happened.
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div class="panel-heading clickable" role="tab" id="headingOne">
                    <h4 class="panel-title">
                            <span role="button" href="#route">
                                <span class="glyphicon glyphicon-collapse-down"></span> Route:
                                <% if (route) { %>
                                <a href="<%= route.link.href %>" target="_blank"><%= route.link.href %></a>
                                <% } else { %>
                                <a href="#" target="_blank">Undefined</a>
                                <% } %>
                            </span>
                    </h4>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" id="route">
                    <div class="panel-body">
                        <% if (route && route.attributes.attribute) { %>
                        <table class="table table-hover">
                            <% for(var i = 0; i < route.attributes.attribute.length; i++) { %>
                            <% var attribute = route.attributes.attribute[i]; %>
                            <% if (attribute) { %>
                            <tr>
                                <td>
                                    <%= attribute.name.toUpperCase() %>
                                </td>
                                <td>
                                    <% if (attribute.link != null) { %>
                                    <a href="<%= attribute.link.href %>">
                                        <%= attribute.value %>
                                    </a>
                                    <% } else { %>
                                    <%= attribute.value %>
                                    <% } %>
                                </td>
                            </tr>
                            <% }} %>
                        </table>
                        <% } else { %>
                        Hmmm, looks like something happened.
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-6">
    <% if (banner !== null && banner) { %>
        <% var ports = banner.ports; %>
        <ul>
            <% for(var i = 0; i < ports.length; i++) { %>
            <%
                var colorForPort = '#333';
                if (banner[ports[i] + ''].state === 'open')
                    colorForPort = '#009688';
                else if (banner[ports[i] + ''].state === 'filtered')
                    colorForPort = '#FF9800';
                else
                    colorForPort = '#F44336';
            %>
            <a href="#<%= ports[i] %>">
                <li class="port-box grow" style="background-color: <%= colorForPort %>"><%= ports[i] %></li>
            </a>
            <% } %>
        </ul>
        <%= banner %>
    <% } else { %>
        THIS HOST WAS NOT RESEARCHED
    <% } %>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/general/panel.js"></script>
</body>
</html>