<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html>
<head>
    <title> <%= ip %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<% include ../partial/header.ejs %>
<div class="col-md-6">
    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                            <span role="button" data-toggle="collapse" href="#person"
                                  aria-expanded="true" aria-controls="collapseOne">
                                <span class="glyphicon glyphicon-collapse-down"></span>
                                Person:
                                <a href="<%= person.link.href %>"><%= person.attributes.attribute[0].value %></a>
                            </span>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" id="person">
                    <div class="panel-body">
                        <table class="table table-hover">
                            <% for(var i = 0; i < person.attributes.attribute.length; i++) { %>
                            <tr>
                                <td>
                                    <%= person.attributes.attribute[i].name.toUpperCase() %>
                                </td>
                                <td>
                                    <% if (person.attributes.attribute[i].link != null) { %>
                                    <a href="<%= person.attributes.attribute[i].link.href %>">
                                        <%= person.attributes.attribute[i].value %>
                                    </a>
                                    <% } else { %>
                                    <%= person.attributes.attribute[i].value %>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                            <span role="button" data-toggle="collapse" href="#organization"
                                  aria-expanded="true" aria-controls="collapseOne">
                                <span class="glyphicon glyphicon-collapse-down"></span> Organization: <a
                                        href="<%= organization.link.href %>"><%= organization.link.href %></a>
                            </span>
                    </h4>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" id="organization">
                    <div class="panel-body">
                        <table class="table table-hover">
                            <% for(var i = 0; i < organization.attributes.attribute.length; i++) { %>
                            <tr>
                                <td>
                                    <%= organization.attributes.attribute[i].name.toUpperCase() %>
                                </td>
                                <td>
                                    <% if (organization.attributes.attribute[i].link != null) { %>
                                    <a href="<%= organization.attributes.attribute[i].link.href %>">
                                        <%= organization.attributes.attribute[i].value %>
                                    </a>
                                    <% } else { %>
                                    <%= organization.attributes.attribute[i].value %>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                            <span role="button" data-toggle="collapse" href="#inetnum"
                                  aria-expanded="true" aria-controls="collapseOne">
                                <span class="glyphicon glyphicon-collapse-down"></span> Inetnum: <a
                                        href="<%= inetnum.link.href %>"><%= inetnum.link.href %></a>
                            </span>
                    </h4>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" id="inetnum">
                    <div class="panel-body">
                        <table class="table table-hover">
                            <% for(var i = 0; i < inetnum.attributes.attribute.length; i++) { %>
                            <tr>
                                <td>
                                    <%= inetnum.attributes.attribute[i].name.toUpperCase() %>
                                </td>
                                <td>
                                    <% if (inetnum.attributes.attribute[i].link != null) { %>
                                    <a href="<%= inetnum.attributes.attribute[i].link.href %>">
                                        <%= inetnum.attributes.attribute[i].value %>
                                    </a>
                                    <% } else { %>
                                    <%= inetnum.attributes.attribute[i].value %>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                            <span role="button" data-toggle="collapse" href="#route"
                                  aria-expanded="true" aria-controls="collapseOne">
                                <span class="glyphicon glyphicon-collapse-down"></span> Route: <a
                                        href="<%= route.link.href %>"><%= route.link.href %></a>
                            </span>
                    </h4>
                </div>
                <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" id="route">
                    <div class="panel-body">
                        <table class="table table-hover">
                            <% for(var i = 0; i < route.attributes.attribute.length; i++) { %>
                            <tr>
                                <td>
                                    <%= route.attributes.attribute[i].name.toUpperCase() %>
                                </td>
                                <td>
                                    <% if (route.attributes.attribute[i].link != null) { %>
                                    <a href="<%= route.attributes.attribute[i].link.href %>">
                                        <%= route.attributes.attribute[i].value %>
                                    </a>
                                    <% } else { %>
                                    <%= route.attributes.attribute[i].value %>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <%= banner %>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>